*,
*::before,
*::after {
  box-sizing: border-box;
}
select{
  background-color: transparent;
}
.selectCl{
  width: 180px;
  height: 35px;
  border: 1px solid dimgray;
  padding: 3px;
  margin: 5px;
  border-radius: 10px;
  background: whitesmoke;
  cursor: pointer;


}

.optionCl{
  border: 2px solid dimgray;
  &:checked{
    background: gainsboro;
  }
  &:hover{
    background: gainsboro;
  }

}