@import "../../values.module";

.currencyFormCl{
  &, &::before, &::after {
    box-sizing: border-box;
  }
  flex-grow: 3;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 45px;
  input:focus{
    border: none;
  }
}
.converter{
  height: 260px;
}
.active{
  height: 300px;
}
.currencyBlock{
  display: flex;
}
.currency{
  width: $blockWidth;
  display: flex;
  flex-flow: column;
  margin: $formMarginValue;
}

.logoCl{
  width: $logoWidth;
}
.logoDiv{
  display: flex;
  align-items: center;
  //padding-top: 32px;
  &:hover{
    cursor: pointer;
  }
}