
.currencyFormCl{
  &, &::before, &::after {
    box-sizing: border-box;
  }
  flex-grow: 3;
  height: 35vh;
  display: flex;
  flex-flow: row;
  padding-top: 75px;
  justify-content: center;
}

.firstCurrency{
  width: 410px;
  display: flex;
  flex-flow: column;
  margin: 30px;
}
.secondCurrency{
  width: 410px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin: 30px;
}