@import "../../values.module";

.currencyFormCl{
  &, &::before, &::after {
    box-sizing: border-box;
  }
  flex-grow: 3;
  height: 29vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 25px;
  input:focus{
    border: none;
  }
}

.firstCurrency{
  width: $blockWidth;
  display: flex;
  flex-flow: column;
  margin: $formMarginValue;
}
.secondCurrency{
  width: $blockWidth;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin: $formMarginValue;
}
.logoCl{
  width: $logoWidth;
}
.logoDiv{
  display: flex;
  align-items: center;
  padding-top: 32px;
  &:hover{
    cursor: pointer;
  }
}