@import "../../../values.module";

.tableCl{
    width: 100%;
    border-collapse: collapse;
    & tr{
        display: flex;
        align-items: flex-end;
        height: 48px;
        font-size: 20px;
        border-bottom: 1px solid $borderColor;
    }
    tr:last-child{
        border: none;
        padding-bottom: 3px;
    }
    & td{
        width: 25%;
        text-align: center;
    }
}

.negative{
    font-size: 22px;
    margin: 5px;
    text-align: center;
    color: crimson;
}
.positive{
    font-size: 22px;
    margin: 5px;
    text-align: center;
    color: forestgreen;
}
.even{
    background: whitesmoke;
}
.notEven{

}

