@import "../../../values.module";

.modal{
  height: 100%;
  width: $blockWidth + 20px;
  box-shadow: 1px -2px 6px 0.5px rgba(0, 0, 0, 0.3);
  columns: 60px;
  overflow: hidden;
  padding: 15px;
}

.content{
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid lightgrey;
  cursor: pointer;
}