@import "../../../values.module";

.modal{
  height: 100%;
  width: $blockWidth + 0.2vw;
  box-shadow: 1px -2px 6px 0.5px rgba(0, 0, 0, 0.3);
  column-width: 80px;
  column-count: 4;
  column-fill: auto;
  column-gap: normal;
  overflow: hidden;
  column-rule: solid 1px lightgrey;
  padding: 10px;
  justify-content: space-around;
  overflow-x: scroll;
}
.flag{
  display: flex;
  align-items: center;
  width: 10px;
  height: 10px;
}
.content{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-size: $textSize - 0.3vmin;
}