@import "../../../values.module";

.inpClass{
    margin-left: 1px;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: $paddingLeftInputBlock;
    border: none;
    width: $blockWidth -2px;
    height: 85px;
    font-size: 35px;
    &:hover{
        border: none;
     }
    &:focus{
        border: none;
        outline: none;
    }
    &:active{
        border: none;
    }
}
