.inpClass{
    margin: 5px;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 15px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    //height: 350px;
    width: 310px;
    height: 75px;
    background: crimson;
    font-size: 26px;
    &:hover{
        border: none;
     }
    &:focus{
        border: none;
        outline: none;
    }
    &:active{
        border: none;
    }
}
