@import "../../values.module";

.convertInfoCl{
  width: $blockWidth;
  height: 90px;
  border-radius: 10px;
  text-align: justify;
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  //box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  color: dimgray;
  margin-right: $formMarginValue + $logoWidth/2;
}

.mainDivCl{
  display: flex;
  height: 115px;
  justify-content: center;
  align-items: center;
  //padding-right: 474px;
  margin-top: 10px;
}