@import "../../values.module";

.convertInfoCl{
  width: $blockWidth;
  height: 90px;
  border-radius: 10px;
  text-align: justify;
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  color: dimgray;
  margin-right: $formMarginValue + $logoWidth/2;
}

.mainDivCl{
  display: flex;
  height: 115px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}