$formMarginValue: 30px;
//$blockWidth : 420px;
$blockWidth : 20vw;
$paddingLeftInputBlock: 15px;
$borderColor: lightgrey;
$logoWidth: 50px;
//$fontSizeTableNameRow: 24px;
$fontSizeTableNameRow: 2.8vmin ;
$textSize: 2.5vmin;